/* main font + normal color */
  body, header, footer, main, h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #2E294E;
    margin: 10px;
    padding: 5px;
    height: fit-content;
  }

  /* link stuffs */

  a:link {color: #034732}
  a:visited {color: #EF8A17}
  a:hover {color: #1F7123}
  a:active {color: #C6C013}

  /* size */
  p {
    font-size: 15px;
  }

  h1 {
      font-size: 30px;
  }

  h2 {
      font-size: 25px;
  }

  h3 {
      font-size: 21px;
  }

  /* class */
  .txt-center {
      text-align: center;
  }

.bckgrnd {
      background: #babdc2;
}

.alt-txt {
      font-size: 12px;
}
